*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
    "m"
    "r"
    ;
}

main{
    height: 940px;
    grid-area: m;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(fotos/Rectangle\ 20.png);
    
}

main > p{
    font-size: 80px;
    background-color: white;
    border-radius: 60px;
    width: 400px;
    display: flex;
    justify-content: center;
    border: 5px solid black;
    margin-bottom: 110px;
    margin-right: 100px;
}


footer{
    grid-area: r;
    background-color: gray;
    display: flex;
    justify-content: center;
    color: white;
    padding: 40px;
    border-top: 2px solid black;
}


